/*     Importing Google fonts    */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }

body {
    background-image: linear-gradient(45deg,#000000,#000000,#ffffff);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    height: 100vh;   
}


@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.nav-item a {
    transition: 0.5s;
}
.nav-item a:hover {
    transform: translateY(-10px);
}
.bi {
    margin-bottom: 3px;
    color: #e90c59;
}

.navbar-brand {
    padding-left: 5px;
    letter-spacing: 5px;
    transition: 0.5s;
    
}
.navbar-brand:hover {
    transform: translateY(-10px);
}
.n-bar {
    background: linear-gradient(45deg, #3e3739 70%,transparent 30%);
    

}
 
.social-icon {
    display: flex;
    justify-content: center;
}

.fab
{
    font-size: 1.2em;
    color: #fff ;
    transition: 0.5s;
    
}
.fab:hover{
    transform: translateY(-10px);
}
.copyright
{
    text-align: center;
    color: #fff;
    position: absolute;
    padding-left: 10px;
    
}
.footer {
    background-color: #e90c59;
    height: 70px;
    width: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
